<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post List</title>
</head>
<body>
	<header>
		<h1><a href="/">huleos</a></h1>
	</header>
	<article>
		<time>May 24, 2016</time>
		<h2>
			<a href="#">My first post</a>
		</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis cupiditate atque maxime corporis possimus dolorem. Laboriosam id consectetur autem architecto odit, recusandae aliquid, iusto aperiam voluptatibus eos! Laboriosam, aliquid, pariatur!</p>
		<hr>
	</article>
	<article>
		<time>May 26, 2016</time>
		<h2>
			<a href="#">My second post</a>
		</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus veniam delectus reiciendis corporis quia at quam ea ipsum assumenda expedita maiores voluptatibus ex nam atque vero, odio dicta libero eveniet.</p>
		<hr>
	</article>
</body>
</html>