header .navbar{
	background: #333;
}

header .container .navbar-brand{
	color: #f1f1f1;
	font-size: 24px;
}

header .container .navbar-brand span{
	font-size: 18px;
	font-weight: lighter;
}

header .container .navbar-brand:hover{
	color: #999;
}

article time{
	color: #999;
}

article .post-title{
	margin-top: 0;
	font-weight: bold;
}

article .post-title a{
	color: #222;
}

article .post-title a:hover,
article .post-title a:focus{
	color: #2793C7;
	text-decoration: none;
}

.new-post{
  float: right;
  margin-top: 12px;
  font-weight: bold;
}

.btn-edit{
	  position: absolute;
  top: 12px;
  right: 28px;
}